<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/style.css">
</head>
<body class="bg">

<div class="glass-card">
    <h2>Login</h2>
    {% if error %}
        <p style="color:#ff5252; text-align:center;">{{ error }}</p>
    {% endif %}

    <form method="POST">
        <input name="username" placeholder="Username" required>
        <input name="password" type="password" placeholder="Password" required>
        <button class="btn">Login</button>
    </form>

    <p>Don't have account? <a href="/register">Register</a></p>
</div>

</body>
</html>
